body {
    background-color: #E5E9EC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20vh;
    font-size: x-large;
}