:root {
    --soft-white: #E5E9EC;
    --LM-color: #0099D7;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: var(--soft-white);
    height: 100%;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.blurred {
    filter: blur(5px);
}

/** MAIN CSS **/

main {
    margin: 100px auto 0 auto;
    width: 40vw;
    min-width: 500px;
    /* border: solid 1px rgba(100,100,100,0.2); */
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 500px;
    padding: 30px;
    padding-bottom: 35px;
    font-size: 120%;
}

main .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 3rem !important;
  color: darkgray;
  margin: 40px;
  transition: 150ms ease-out;
}

main .material-symbols-outlined:hover {
    transform: translateX(10px);
    transition: 150ms ease-out;
    cursor: pointer;
}

main form {
    height: 100%;
}

main ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main ul li {
    width: 100%;
    height: 30%;
    border: 2px rgba(0, 0, 0, 0.07) solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main ul li p {
    padding: 40px;
    font-size: 1.3rem;
}

.highlight {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Space Mono', monospace;
}

@keyframes confirm-box-appearance {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

#confirm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: white;
    padding: 40px;
    /* z-index: 10; */
    animation: confirm-box-appearance 1.75s;
}

#confirm-box > ul {
    padding-left: 1cm;
}

#confirm-box > p + ul * {
    line-height: 160%
}

#confirm-box ul li {
    border: none;
}

#confirm-box * {
    list-style: disc;
}

input[type = "checkbox"] {
    scale: 160%;
}

input[type = "checkbox"]:checked {
    accent-color: var(--LM-color);
}

label {
    cursor: pointer;
}

#chkbx-text {
    padding-left: 15px;
}

.submit-field {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.button {
    font-size: 1.3rem;
    padding: 12px 24px;
    margin: 0;
    transition: 300ms ease-in-out;
    border-radius: 7px;
}

.button:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.submit-button {
    background-color: #0099D7;
    border: 0;
    color: #EEE;
    font-weight: 600;
}

.submit-button:hover {
    background-color: #00abef;
    color: white;
}

.submit-button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.border-button {
    padding: 10px 16px;
    font-size: 1.2rem;
    border: 3px #0099D7 solid;
    color: #222;
}

.border-button:hover {
    color: black;
    border-color: #00abef;
}